body {
  background: black;
}

.vid-container {
  position: relative;
  display: inline-block;
}

.vid-overlay {
  position: absolute;
  background-color: rgba(0,0,0,.5);
}

.vid-top {
  @extend .vid-overlay;
  top: 0;
  left: 0;
  right: 0;
  height: 20%;
}

.vid-bottom {
  @extend .vid-overlay;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20%;
}

.vid-left {
  @extend .vid-overlay;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
}

.vid-right {
  @extend .vid-overlay;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
}

.navbar {
  z-index: 1000;
  margin-bottom: 0;
}

#v {
  width: 100%;
  height: 100%;
}

.vid-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}