<div class="modal-header">
    <h4 class="modal-title">Welcome to Exeo!</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <h4 class="text-center"><i>Exeo is a file sharing platform that let's devices transfer files between each other</i></h4><br>
        </div>
        <div class="row">
            To begin
            <ol>
                <li>open Exeo on your other device</li>
                <li>copy your <span class="pair">pair code</span> into the <span class="pair">pair box</span> on the other device</li>
            </ol>
        </div>
        <br>
        <div class="row">
            You can then send and receive files between the two devices.<br>
            Please note, Exeo uses peer-to-peer communication which may not work in all situations.
        </div>
        <br>
        <div class="text-center">Thank you for using Exeo and Enjoy!</div>
    </div>
</div>
<div class="modal-footer text-muted">
    <div class="pull-left checkbox">
        <label><input type="checkbox" ng-model="hideTutorial">Hide Tutorial Next Time</label>
    </div>
    <button class="btn btn-danger" ng-click="close();">Close</button>
</div>